.navbar {
    /* position: fixed; */
    top: 10px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.89);
    padding: 30px 50px;
    display: flex;
    justify-content: center;
   
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(10px);
}
.telefone {
    position: absolute;
    top: 20px;
    background-color: #fe8c2d;
    right: 0;
    border-bottom-left-radius: 25px;
    padding: 20px;
    color: #ffff;
    border-top-left-radius: 25px;
    z-index: 9999;
}
.navbar .icon {
    margin-right: auto; /* Empurra o ícone para a direita */
}

.navbar .logo {
    margin-left: auto; /* Empurra a logo para a esquerda */
}

.navbar img{
    height: 50px;
    left: 0px;
}
.topnav{
    padding: 7px;
    background-color: #481e79;
}
.topnav button{
   margin-left: 50px;
   border-radius: 20px;
   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 5px;
   border: 2px solid #fff;
color: #726b6b;
transition: 0.3s;
}
.topnav button:hover{
    color: #fff;
    background-color: #481e79;
    transition: 0.3s;
    cursor: pointer;
    border: solid 2px #481e79;
}
.navbar a {
    color: #726b6b;
    text-decoration: none;
    font-size: 14px;
    padding: 25px 20px;
    transition: 0.3s;
}
.navbar a:hover {
    color: #481e79;
    transition: 0.3s;
}
.dicbuttonnav{
    background-color: #000;
}
nav {
    z-index: 1000;
  
    justify-content: center;
    display: flex;
    text-align: center;
    width: 100%;
  
    align-items: center;
}
.iconNav {
    position: relative; 
    display: inline-block;
}

.iconNav i {
    color: rgb(2, 255, 0);
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.iconNav:hover::before {
    content: ''; 
    position: absolute;
    cursor: pointer;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 40px; 
    height: 40px; 
    border-radius: 50%;
    background-color: rgba(0, 255, 0, 0.5); 
    z-index: -1;
    transition: transform 0.3s ease; 
}

.iconNav:hover i {
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    transform: scale(1.1);
}

.iconNav:hover::before {
    cursor: pointer;
    transform: translate(-50%, -50%) scale(1.2);
}
.linksNav br {
    display: none;
}
.imgNav .btn{
    display: flex;
}



#imagemobile{
    display: none;
}
.uiverse {
    position: relative;
    /* background: #ffffff; */
    color: #000;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.uiverse1 {
    position: relative;
    /* background: #ffffff; */
    color: #000;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.tooltip {
    position: absolute;
    top: 0;
    font-size: 15px;
    background: rgb(255 153 72);
    color: #ffffff;
    font-weight: bold;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
  .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: rgb(255 153 72);
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .uiverse:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  svg:hover span,
  svg:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .uiverse:hover,
  .uiverse:hover .tooltip,
  .uiverse:hover .tooltip::before {
     color: #ffffff;
  }
  .uiverse1:hover,
  .uiverse1:hover .tooltip,
  .uiverse1:hover .tooltip::before {
     color: #ffffff;
  }
  .uiverse1:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
@media screen and (max-width: 1300px){
    .navbar {
        /* position: fixed; */
        top: 20px;
        backdrop-filter: blur(10px); /* Aplica um desfoque ao plano de fundo da navbar */
        
      
        left: 0;
        width: 100%;
      
        padding: 30px 50px;
        text-align: center;
      
        z-index: 1000;
    }
    .linksNav br {
        display: none;
    }
    .imgNav .btn{
        display: none;
    }
    #imagemobile{
        display: flex;
    }
    .uiverse{
        display: none;
    }
    .ggdigital{
        display: flex;
    }
    .marginp {
        width: 70px;
    }
    .navbarmobile{
        display: none;
    }
}
.ggdigital{
    display: flex;
}
.marginp {
    width: 70px;
}
.navbarmobile{
    display: none;
}
.menu-container{
    display: none;
}
.buttons-container{
    display: none;
}
@media screen and (max-width: 900px){
    .navbar {
     display: none;
    }
  .telefone{
    display: none;
  }
  .topnav{
    display: none;
  }
    .navbarmobile {
        background-color: #1d1b1b;
        color: #fff;
        display: flex;
        z-index: 9999;
        align-items: center;
        padding: 10px;
    }
    
    .navbarmobile .logo {
        height: 50px;
        margin-left: 20px;
        margin-right: auto; /* Move a imagem para a extrema esquerda */
    }
    
    .navbarmobile .menu-icon {
        cursor: pointer;
        padding: 3px;
        border-radius: 5px;
        margin-right: 20px;
        background-color: #8638df;
    }
    .menu-container .close-icon {
        cursor: pointer;
        padding: 3px;
        font-size: 30px;
        border-radius: 5px;
        color: #fff;
        /* margin-right: 20px; */
        background-color: #8638df;
    }
    .menu-header {
        display: flex;
        padding-top: 25px;
        justify-content: flex-end;
    }
    .close-icon-container {
        margin-right: 20px; /* Adiciona margem à direita */
    }
    
    .navbarmobile i{
        font-size: 30px;
        transition: transform 0.3s ease; /* Adiciona uma transição suave de 0.3 segundos */

    }
    .menu-container {
        position: fixed; /* Permanece acima de tudo na tela */
     right: -250px; /* Inicia fora da tela à direita */
        width: 250px; /* Largura do menu */
        height: 100vh; /* Altura total da tela */
        background-color: #fff; /* Cor de fundo do menu */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
        transition: right 0.5s ease, opacity 0.5s ease; /* Adiciona uma transição suave */
        z-index: 9999; /* Coloca acima de tudo na tela */
        opacity: 0; /* Inicia com opacidade 0 */
        pointer-events: none; /* Para ignorar cliques quando invisível */
        top: 0;
        display: flow;
    }
    
    .menu-container.open {
        right: 0; /* Move o menu para a tela */
        opacity: 1; /* Torna o menu visível */
        pointer-events: auto; /* Restaura eventos de clique */
    }
    .uiverse1 {
        position: relative;
        /* background: #ffffff; */
        color: #000;
        padding: 0px;
        margin: 0px;
        border-radius: 10px;
         width: 60px; 
        height: 30px;
        font-size: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); */
        cursor: pointer;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      .ggdigital img {
        width: 50px;
        height: auto;
      }
    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #00000070; /* Cor rosa com transparência */
        z-index: 9998; /* Coloca abaixo do menu */
        display: none; /* Inicialmente oculto */
    }
    
    .menu-container.open + .overlay {
        display: block; /* Exibe o overlay quando o menu está aberto */
    }
    .menu{
        font-weight: bold;
    }
    .menu i {
        font-size: 25px;
        /* margin-left: 10px; */
        color: #25d366;
    }
    .menu .customhrmobile {
        height: 2px;
        background-color: #902fca5e;
        width: 50%;
        border: 1px;
        margin-top: 15px;
        margin-bottom: 15px;
        border-radius: 20px;
        margin-left: 0px;
    }
    .buttons-container {
        display: flex;
        padding: 5px;
        margin-bottom: -2px;
        background-color: #000000;
    }
    .buttons-container button {
        color: #505050b3;
      
        font-size: 12px;
        border-radius: 20px;
        border: 2px solid #3d2a49;
    }
    
    
    
    
    
      
   
   
}